footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 2.5em;
    z-index: 3;
}

.navbar .navbar-text a:hover.btn {
    color: black;
    background-color: #E6E6E6;
}

.navbar .navbar-text a:hover.btn.btn-primary {
    color: white;
    background-color: #04C;
}